<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>F1 Korea Community</title>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.16/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="header">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0 d-flex flex-wrap align-items-center">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img src="/img/F1_KoreaLogo.png" width="100" height="100" alt="F1 Korea">
                </a>
                <h1>F1 Korea<h1>
            </div>
            <div>
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2">레드불</a></li>
                    <li><a href="#" class="nav-link px-2">페라리</a></li>
                    <li><a href="#" class="nav-link px-2">메르세데스</a></li>
                    <li><a href="#" class="nav-link px-2">맥라렌</a></li>
                    <li><a href="#" class="nav-link px-2">애스턴 마틴</a></li>
                </ul>
            </div>
            <div class="col-md-3 text-end">
                <a href="/login"  class="btn btn-outline-primary me-2">Login</a>
                <button type="button" class="btn btn-primary">Sign-up</button>
            </div>
        </header>
    </div>

<div class="container mt-4">
    <h2>Community</h2>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
    </div>

    <!-- Posts list -->
    <div class="list-group" th:each="item : ${posts}">
        <!-- Example post -->
        <a th:href="@{/posts/{id}(id=${item.postId})}" class="mt-2 list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <div class="m-1">
                    <h5 th:text = "${item.title}"></h5>
                </div>
                <div class="m-1">
                    <div th:text ="${item.content}"></div>
                </div>
                <div class="m-1" th:if="${item.userId != null}">
                    <small th:text="${item.userId.name}">작성자: </small>
                </div>
            </div>

        </a>
        <!-- More posts can be added here -->
    </div>
</div>
</body>
</html>


<!--<a href="/new-post" class="btn btn-primary">글 작성하기!</a>-->
<!--<div class="container">-->
<!--    <div class="row-6" th:each="item : ${posts}">-->
<!--        <div class="card">-->
<!--            <div class="card-header" th:text = "${item.title}"></div>-->
<!--            <div class="card-body">-->
<!--                <p class="card-text" th:text = "${item.content}"></p>-->
<!--                <a th:href="@{/posts/{id}(id=${item.postId})}" class="btn btn-primary">글 보러가기</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->