<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>F1 Korea Community</title>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .table_title {
            text-align:center;
        }
    </style>
</head>
<body>
<div class="container">


    <div th:include="header :: header"></div>

    <div class="container mt-4">
        <h2>Community</h2>
        <div class="input-group mb-3">
            <form th:action="@{/posts/search}" method="get" class="input-group mb-3">
                <input type="text" class="form-control" placeholder="글 제목으로 검색" name="query" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>

            <a href="/new-post" class="btn btn-primary me-3">글 작성하기</a>
        </div>

    <!-- Posts list -->
        <table class="table">
            <thead class="table-dark justify-content-around text-center">
            <tr>
                <th>글번호</th>
                <th class="table_title" style="width:75%">제목</th>
                <td>작성자</td>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="item, loop : ${posts}">
                <td th:text="${posts.getTotalElements - (posts.number * posts.size) - loop.index}"></td>
                <td class="table_title" >
                    <a th:href="@{/posts/{id}(id=${item.postId})}" th:text="${item.title}"></a>
                </td>
                <td><span th:if="${item.userId != null}" th:text="${item.userId.name}"></span></td>
                <td th:text="${#temporals.format(item.createTime, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <div th:if="${!posts.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!posts.hasPrevious} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{|?page=${posts.number-1}|}">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, posts.totalPages-1)}"
                    th:if="${page >= posts.number-2 and page <= posts.number+2}"
                    th:classappend="${page == posts.number} ? 'active'"
                    class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                </li>
                <li class="page-item" th:classappend="${!posts.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${posts.number+1}|}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>
    <!-- 페이징처리 끝 -->
    </div>
</div>
</body>
</html>

