<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="header">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0 d-flex flex-wrap align-items-center">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="/img/F1_KoreaLogo.png" width="100" height="100" alt="F1 Korea">
      </a>
      <h1>F1 Korea<h1>
    </div>
    <div>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2">레드불</a></li>
        <li><a href="#" class="nav-link px-2">페라리</a></li>
        <li><a href="#" class="nav-link px-2">메르세데스</a></li>
        <li><a href="#" class="nav-link px-2">맥라렌</a></li>
        <li><a href="#" class="nav-link px-2">애스턴 마틴</a></li>
      </ul>
    </div>
    <div class="col-md-3 text-end">
      <a href="/login"  class="btn btn-outline-primary me-2">Login</a>
      <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
  </header>
</div>
<div class="container">

  <input type="text" class="form-control" id="email" placeholder="Email" >
  <input type="password" class="form-control" id="password" placeholder="Password" >
  <button class="btn btn-primary" id="login-btn" onclick="login()">로그인</button>
</div>
<script>


        function login(){
            var loginBtn=document.getElementById("login-btn")
            var idInput=document.getElementById("email")
            var passwordInput=document.getElementById("password")

            var id=idInput.value
            var password=passwordInput.value
            fetch("/api/login", {
                method: "POST",
                headers: {
                    "Content-Type":"application/json"
                },
                body:JSON.stringify({
                    email:id,
                    password:password
                })
            })
            .then((response) => response.json())
            .then((data) => {
                if(data.success){
                    location.href="/articles"
                }
                else{
                    window.alert(data.message)
                }
            })
        }

    </script>
</body>
</html>